@model IEnumerable<ProjetoFinal.Models.Compra>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Compras</h1>

<p class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a asp-action="Create" class="btn btn-primary"><i class="bi bi-cart-plus-fill"></i> Adicionar</a>
</p>
<form asp-action="FechamentoCaixa" method="post" class="row row-cols-lg-auto g-3 align-items-center">
    <div class="col-2">
        <label for="dataSel">Qual data do fechamento?</label>
        <div class="input-group">
            <input id="dataSel" name="dataSel" type="date" class="form-control col-md-2" />
        </div>
    </div>
    <div class="col-2">
        <button type="submit" class="btn btn-success"><i class="bi bi-cash-coin"></i> Fechamento de Caixa</button>
    </div>
    </form>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.DataCompra)
            </th>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th class="col-md-3">
                @Html.DisplayNameFor(model => model.Produto)
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.FormaPagamento)
            </th>
            <th class="col-md-3"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCompra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Produto.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FormaPagamento)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CompraID" class="btn btn-warning"><i class="bi bi-pencil-square"></i> Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.CompraID" class="btn btn-info"><i class="bi bi-info-circle-fill"></i> Info</a> |
                    <a asp-action="Delete" asp-route-id="@item.CompraID" class="btn btn-danger"><i class="bi bi-trash3-fill"></i> Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
